<!DOCTYPE html>

<html lang="fr-ca">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="style/style.css">

        <title>Homepage</title>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">

            <!-- <h1>App status</h1>
            <b>Valid:</b>   {{myForm.email.$valid}}   (if true, the email meets all criteria)<br>
            <b>Dirty:</b>   {{myForm.email.$dirty}}   (if true, the email has been changed)<br>
            <b>Touched:</b> {{myForm.email.$touched}} (if true, the email field has been in focus)<br>
            <hr> -->

            <b>{{ lastName | uppercase }}, {{ firstName }} / {{ email }}</b><br><br>
            <hr>

            Firstname: <input type="text" ng-model="firstName"><br>
            <ul>
                <li ng-repeat="name in firstNames | filter:firstName">
                    {{ name }}
                </li>
            </ul><br>
            Lastname:  <input type="text" ng-model="lastName"><br>
            <form name="myForm">
                Email:
                <input type="email" name="email" ng-model="email" required>
                <span ng-show="myForm.email.$error.email">Not a valid e-mail address</span>
            </form>
            
        </div>

        <script src="script/myApp.js"></script>
        <script src="script/myCtrl.js"></script>
    </body>
</html>