<h2>My grades</h2>

<select (change)="onChange(semester)">
    <option *ngFor="let semester of semesters" [value]="semester">{{semester}}</option>
</select>
    
<div class="table">
    <div class="table-header">
        <div class="cell">Course</div>
        <div class="cell">Average</div>
        <div class="cell">Letter</div>
        <div class="cell">GPA</div>
    </div>
    <div class="row" *ngFor="let grade of grades">
        <div class="cell">{{ grade.course.code }}</div>
        <div class="cell">{{ grade.average | number : '1.2-2' }}%</div>
        <div class="cell">{{ grade.letter }}</div>
        <div class="cell">{{ grade.gpa }}</div>
    </div>
</div>
