Course:
<select ng-model="course" ng-change="refreshMarks()"  ng-options="course.code for course in courses"></select><br>

<table class="table table-hover">
    <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Mark</th>
        <th>Weight</th>
    </tr>
    <tr ng-repeat="mark in marks" ng-click="edit(mark)">
        <td>{{ mark.category.description }}</td>
        <td>{{ mark.description }}</td>
        <td>{{ mark.mark }}</td>
        <td>{{ mark.weight }}</td>
    </tr>
</table><br><br>

<button ng-click="update(marks)" class="btn btn-primary">Save changes</button>

<form>
    <div lass="form-group">
        <h3>Editing: {{ selectedMark.description }}</h3>
    </div>
    <div class="form-group">
        <label for="">Category:</label>
        <select ng-model="selectedMark.category" ng-options="category.description for category in categories"></select>
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input type="text" ng-model="selectedMark.description">
    </div>
    <div class="form-group">
        <label>Mark:</label>
        <input type="text" ng-model="selectedMark.mark">
    </div>
    <div class="form-group">
        <label>Weight:</label>
        <input type="text" ng-model="selectedMark.weight">
    </div>
</form>
<!-- 
<fieldset>
    
    <form>
        Category: 
        Description: <input type="text" ng-model="selectedMark.description">
        Mark: <input type="text" ng-model="selectedMark.mark">
        Weight: <input type="text" ng-model="selectedMark.weight">
    </form>
</fieldset> -->

<fieldset>
    <h2>Delete: {{ selectedMark.description }} ?</h2>
    <button ng-click="delete(selectedMark)">Delete</button>
</fieldset>

<fieldset>
    <h2>New mark</h2>

    <form>
        Category: <select ng-model="newMark.category" ng-options="category.description for category in categories"></select>
        Description: <input type="text" ng-model="newMark.description">
        Mark: <input type="text" ng-model="newMark.mark">
        Weight: <input type="text" ng-model="newMark.weight"    >
        <button ng-click="add(newMark)">Add</button>
    </form>
</fieldset>

