<nav>
    <a routerLink="/grades" class="title">{{ title }}</a>
    <a routerLink="/grades" routerLinkActive="active">Grades</a>
    <a routerLink="/marks" routerLinkActive="active">Marks</a>
    <a routerLink="/add-mark" routerLinkActive="active">New mark</a>
</nav>

<main>
    <app-global-grade></app-global-grade>
    <router-outlet></router-outlet>
</main>



<!-- <div class="flex-container">
    <main>
        <router-outlet></router-outlet>
    </main>
    <aside>
        <app-messages></app-messages>
    </aside>
</div> -->


<!-- <footer class="container">
    <app-messages></app-messages>
</footer> -->

