<nav>
    <!-- <a routerLink="/grades" routerLinkActive="active">Grades</a> -->
    <a routerLink="/grades"><b>{{title}}</b></a>
    <a routerLink="/grades" routerLinkActive="active">Grades</a>
    <a routerLink="/marks" routerLinkActive="active">Marks</a>
    <a routerLink="/add-mark" routerLinkActive="active">New mark</a>
</nav>


<div class="top-container">
    <app-global-grade></app-global-grade>
</div>

<div class="flex-container container">
    <main>
        <router-outlet></router-outlet>
    </main>
    <aside>
        <app-messages></app-messages>
    </aside>
    
    
</div>


<!-- <footer class="container">
    <app-messages></app-messages>
</footer> -->

