<div *ngIf="course">

    <!--Course's details-->
    <div class="table">
        <div class="row">
            <div class="header-cell">Id:</div>
            <div class="cell">{{course.id}}</div>
        </div>
        <div class="row">
            <div class="header-cell">Code:</div>
            <div class="cell">{{course.code}}</div>
        </div>
        <div class="row">
            <div class="header-cell">Description:</div>
            <div class="cell">{{course.description}}</div>
        </div>
        <div class="row">
            <div class="header-cell">Semester:</div>
            <div class="cell">{{course.semester}}</div>
        </div>
        <div class="row">
            <div class="header-cell">Credits:</div>
            <div class="cell">{{course.credits}}</div>
        </div>
    </div>

</div>
