<!--Course selector-->
<div class="flex-container vertical padded">
    <h2>My marks</h2>

    <div class="flex-container line-height">
        <div>
            <label>
                Course
                <select [(ngModel)]="selectedCourseId" (change)="onChange(selectedCourseId)" [value]="selectedCourseId">
                    <option *ngFor="let course of courses" [value]="course.id">{{course.code}}</option>
                </select>
            </label>
        </div>
        <div>
            <button class="button save-button" [disabled]="saved" [class.disabled]="saved"   (click)="save(marks)">Save changes</button>
        </div>
    </div>
</div>

<div class="flex-container flex-start padded">

    <h4 *ngIf="!marks.length">No marks for that course</h4>

    <div class="table" *ngIf="marks.length">
        <div class="table-header">
            <div class="cell">Category</div>
            <div class="cell">Description</div>
            <div class="cell">Mark</div>
            <div class="cell">Weight</div>
        </div>
        <div class="row" *ngFor="let mark of marks"  [class.selected]="mark === selectedMark">
            <!-- <div class="cell" (click)="!(selectedMark === mark) && onSelect(mark)">
                <div *ngIf="!(selectedMark === mark)">{{ mark.category.description }}</div>
                <select *ngIf="selectedMark === mark" [(ngModel)]="selectedMarkCopy.category.id" (change)="onCategoryChange(selectedMarkCopy.category.id)">
                    <option *ngFor="let category of categories" [ngValue]="category.id">{{category.description}}</option>
                </select>
            </div>
            <div class="cell" (click)="!(selectedMark === mark) && onSelect(mark)">
                <div *ngIf="!(selectedMark === mark)">{{ mark.description }}</div>
                <input *ngIf="selectedMark === mark" [(ngModel)]="selectedMarkCopy.description" placeholder="description"/>
            </div>
            <div class="cell" (click)="!(selectedMark === mark) && onSelect(mark)">
                <div *ngIf="!(selectedMark === mark)">{{ mark.mark | number : '1.2-2' }}%</div>
                <input *ngIf="selectedMark === mark" [(ngModel)]="selectedMarkCopy.mark" placeholder="mark"/>
            </div>
            <div class="cell" (click)="!(selectedMark === mark) && onSelect(mark)">
                <div *ngIf="!(selectedMark === mark)">{{ mark.weight | number : '1.2-2' }}%</div>
                <input *ngIf="selectedMark === mark" [(ngModel)]="selectedMarkCopy.weight" placeholder="weight"/>
            </div>
            <div class="cell" (click)="!(selectedMark === mark) && onSelect(mark)">
                <button *ngIf="selectedMark === mark" class="button-icon" (click)="delete(selectedMarkCopy.id)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="cell" >
                <button *ngIf="selectedMark === mark" class="button-icon" (click)="confirmEdit(mark)">
                    <i class="fa fa-check"></i>
                </button>
            </div>
            <div class="cell">
                <button *ngIf="selectedMark === mark" class="button-icon" (click)="cancelChange()">
                    <i class="fa fa-times"></i>
                </button>
            </div> -->

            <div class="cell" *ngIf="!(selectedMark === mark)" (click)="onSelect(mark)">{{ mark.category.description }}</div>
            <div class="cell" *ngIf="!(selectedMark === mark)" (click)="onSelect(mark)">{{ mark.description }}</div>
            <div class="cell" *ngIf="!(selectedMark === mark)" (click)="onSelect(mark)">{{ mark.mark | number : '1.2-2' }}%</div>
            <div class="cell" *ngIf="!(selectedMark === mark)" (click)="onSelect(mark)">{{ mark.weight | number : '1.2-2' }}%</div>
            
            <div class="cell" *ngIf="selectedMark === mark">
                <select [(ngModel)]="selectedMarkCopy.category.id" (change)="onCategoryChange(selectedMarkCopy.category.id)">
                    <option *ngFor="let category of categories" [ngValue]="category.id">{{category.description}}</option>
                </select>
            </div>
            <div class="cell" *ngIf="selectedMark === mark">
                <input [(ngModel)]="selectedMarkCopy.description" placeholder="description"/>
            </div>
            <div class="cell" *ngIf="selectedMark === mark">
                <input  [(ngModel)]="selectedMarkCopy.mark" placeholder="mark"/>
            </div>
            <div class="cell" *ngIf="selectedMark === mark">
                <input [(ngModel)]="selectedMarkCopy.weight" placeholder="weight"/>
            </div>

            <div class="cell">
                <button *ngIf="selectedMark === mark" class="button-icon" (click)="delete(selectedMarkCopy.id)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="cell">
                <button *ngIf="selectedMark === mark" class="button-icon" (click)="confirmEdit(mark)">
                    <i class="fa fa-check"></i>
                </button>
            </div>
            <div class="cell">
                <button *ngIf="selectedMark === mark" class="button-icon" (click)="cancelChange()">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>







