<!--Course selector-->
<div class="flex-container vertical padded">
    <h2>My marks</h2>

    <div class="flex-container line-height">
        <div>
            <label>
                Course
                <select [(ngModel)]="selectedCourseId" (change)="onChange(selectedCourseId)" [value]="selectedCourseId">
                    <option *ngFor="let course of courses" [value]="course.id">{{course.code}}</option>
                </select>
            </label>
        </div>
        <!-- <div>
            <button class="button" [disabled]="saved" [class.disabled]="saved"   (click)="save(marks)">Save changes</button>
        </div> -->
        <div>
            <button class="button-icon add-button" (click)="addMark()"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>

<div class="flex-container flex-start padded">

    <h4 *ngIf="!marks.length">No marks for that course</h4>

    <div class="table" *ngIf="marks.length">
        <div class="table-header">
            <div class="cell">Category</div>
            <div class="cell">Description</div>
            <div class="cell">Mark</div>
            <div class="cell">Weight</div>
        </div>
        <div class="row" *ngFor="let mark of marks"  [class.selected]="mark.id === selectedMarkId">

            <div class="cell" *ngIf="!(selectedMarkId === mark.id)" (click)="onSelect(mark)">{{ mark.category.description }}</div>
            <div class="cell" *ngIf="!(selectedMarkId === mark.id)" (click)="onSelect(mark)">{{ mark.description }}</div>
            <div class="cell" *ngIf="!(selectedMarkId === mark.id)" (click)="onSelect(mark)">{{ mark.mark | number : '1.2-2' }}%</div>
            <div class="cell" *ngIf="!(selectedMarkId === mark.id)" (click)="onSelect(mark)">{{ mark.weight | number : '1.2-2' }}%</div>
            
            <div class="cell" *ngIf="selectedMarkId === mark.id">
                <select [(ngModel)]="selectedMark.category.id" (change)="onCategoryChange(selectedMark.category.id)">
                    <option *ngFor="let category of categories" [ngValue]="category.id">{{category.description}}</option>
                </select>
            </div>
            <div class="cell" *ngIf="selectedMarkId === mark.id">
                <input [class.input-error]="!selectedMark.description.length" maxlength="50" [(ngModel)]="selectedMark.description" placeholder="description"/>
                <div *ngIf="!selectedMark.description.length" class="error">
                    Description is required
                </div>
            </div>
            <div class="cell" *ngIf="selectedMarkId === mark.id">
                <input [class.input-error]="!selectedMark.mark || !markValidationService.isValid(selectedMark.mark)" maxlength="30" [(ngModel)]="selectedMark.mark" placeholder="mark"/>
                <div *ngIf="!markValidationService.isValid(selectedMark.mark)" class="error">
                    Mark must be a valid number between 0 and 100.
                </div>
                <div *ngIf="!selectedMark.mark" class="error">
                    Mark is required
                </div>
            </div>
            <div class="cell" *ngIf="selectedMarkId === mark.id">
                <input [class.input-error]="!selectedMark.weight  || !markValidationService.isValid(selectedMark.weight)" maxlength="30" [(ngModel)]="selectedMark.weight" placeholder="weight"/>
                <div *ngIf="!markValidationService.isValid(selectedMark.weight)" class="error">
                    Weight must be a valid number between 0 and 100.
                </div>
                <div *ngIf="!selectedMark.weight" class="error">
                    Weight is required
                </div>
            </div>

            <div class="cell">
                <button *ngIf="selectedMarkId === mark.id" class="button-icon" (click)="delete(selectedMarkId)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="cell">
                <button *ngIf="selectedMarkId === mark.id" class="button-icon" (click)="selectedMark.description.length && selectedMark.mark && selectedMark.weight && markValidationService.isValid(selectedMark.mark) && markValidationService.isValid(selectedMark.weight) && confirmEdit(mark)">
                    <i class="fa fa-check" [class.fa-disabled]="!selectedMark.description.length || !selectedMark.mark || !selectedMark.weight || !markValidationService.isValid(selectedMark.mark) || !markValidationService.isValid(selectedMark.weight)"></i>
                </button>
            </div>
            <div class="cell">
                <button *ngIf="selectedMarkId === mark.id" class="button-icon" (click)="cancelChange()">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>







