<div *ngIf="grade">

    <!--Close button-->
    <button class="button-icon" (click)="closeComponent()">
        <i class="fa fa-caret-right"></i>
    </button>

    <!--Usage of the pipe operator-->
    <h3>{{grade.course.code | uppercase}} Details</h3>

    <!--Grade's course detail-->
    <app-course-detail [course]="grade.course"></app-course-detail>

    <hr>

    <!--Grade's details-->
    <div class="table">
        <div class="row">
            <div class="header-cell">Letter:</div>
            <div class="cell">{{grade.letter}}</div>
        </div>
        <div class="row">
            <div class="header-cell">Average:</div>
            <div class="cell">{{grade.average}}</div>
        </div>
        <div class="row">
            <div class="header-cell">GPA:</div>
            <div class="cell">{{grade.gpa}}</div>
        </div>
    </div>

</div>
