<div *ngIf="grade">
    <h3>{{grade.course.code | uppercase}} Details</h3>

    <div><span>Id: </span>{{grade.course.id}}</div>
    <div><span>Code: </span>{{grade.course.code}}</div>
    <div><span>Description: </span>{{grade.course.description}}</div>
    <div><span>Semester: </span>{{grade.course.semester}}</div>
    <div><span>Credits: </span>{{grade.course.credits}}</div>

    <div><span>Letter: </span>{{grade.letter}}</div>
    <div><span>Average: </span>{{grade.average}}</div>
    <div><span>GPA: </span>{{grade.gpa}}</div>

</div>
