<nav>
    <!-- <a routerLink="/grades" routerLinkActive="active">Grades</a> -->
    <b>{{title}}</b>
    <a routerLink="/marks" routerLinkActive="active">Marks</a>
    <a routerLink="/grades" routerLinkActive="active">Grades</a>
</nav>

<main>
    <app-global-grade></app-global-grade>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <div class="container">
        <app-messages></app-messages>
    </div>
</main>


<!-- <app-global-grade></app-global-grade> -->

