<div class="container">

    <div class="form-group">
        <label>Course</label>
        <select class="form-control" ng-model="course" ng-change="refreshMarks()"  ng-options="course.code for course in courses"></select>
    </div>

    <table class="table table-hover">
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Mark</th>
            <th>Weight</th>
        </tr>
        <tr ng-repeat="mark in marks" ng-click="edit(mark)">
            <td>{{ mark.category.description }}</td>
            <td>{{ mark.description }}</td>
            <td>{{ mark.mark }}</td>
            <td>{{ mark.weight }}</td>
        </tr>
    </table>
</div>


<div class="container">
    <form>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" ng-model="selectedMark.category" ng-options="category.description for category in categories"></select>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" ng-model="selectedMark.description" id="descriptionInput">
        </div>
        <div class="form-group">
            <label>Mark</label>
            <input type="text" class="form-control" ng-model="selectedMark.mark" id="markInput">
        </div>
        <div class="form-group">
            <label>Weight</label>
            <input type="text" class="form-control" ng-model="selectedMark.weight" id="weightInput">
        </div>
        <div class="form-group">
            <button ng-click="update(marks)" class="btn btn-primary form-control">Save changes</button>
        </div>
    </form>
</div>
<!-- 
<fieldset>
    
    <form>
        Category: 
        Description: <input type="text" ng-model="selectedMark.description">
        Mark: <input type="text" ng-model="selectedMark.mark">
        Weight: <input type="text" ng-model="selectedMark.weight">
    </form>
</fieldset> -->

<fieldset>
    <h2>Delete: {{ selectedMark.description }} ?</h2>
    <button ng-click="delete(selectedMark)">Delete</button>
</fieldset>

<fieldset>
    <h2>New mark</h2>

    <form>
        Category: <select ng-model="newMark.category" ng-options="category.description for category in categories"></select>
        Description: <input type="text" ng-model="newMark.description">
        Mark: <input type="text" ng-model="newMark.mark">
        Weight: <input type="text" ng-model="newMark.weight"    >
        <button ng-click="add(newMark)">Add</button>
    </form>
</fieldset>

